<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="https://github.com/devchait">Home</a></li>
		        	<li><a href="/docs/about">About Author</a></li>
	        		<li><a href="/docs/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:devchait@gmail.com">email</a></li>
  {% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}">{% include svg-icons/github.html %}</a>{% endif %}

	        		<li><a href="https://github.com/devchait">github.com/devchait</a></li>
				</ul>
			</footer>
		</body>
	</html>
