<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="https://github.com/devchait">Home</a></li>
		        	<li><a href="/docs/about">About Author</a></li>
	        		<li><a href="/docs/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:devchait@gmail.com">
<img 
    src="/images/svg-icons/gmail.svg" 
    alt="gmail"/></a></li>
  <li><a href="http://github.com/{{ site.footer-links.github }}"><img 
    src="/images/svg-icons/github.svg" 
    alt="github"/></a></li>


				</ul>
			</footer>
		</body>
	</html>
